.codes-in-html {
    padding: 30px;
    gap: 30px;
    display: grid;
    width: 100%;
    height: 44vw;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-evenly;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.map-codes {
    width: 37vw;
    height: 17vw;
}

.map-codes:last-child {
    align-items: center;
}



.container-name-code {
    padding: 0px 21px;
    background: #2b313d;
    height: 2vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-copie {
    display: flex;
    gap: 7px;
    cursor: pointer;
    background: #2b313d;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}